.sverige{
    position: relative;
    width: 600px;
    height: 300px;
    background-color: #006aa7;
    border: 2px solid #000000;
    margin: auto;
}
.sverige_item{
    position: absolute;
    background-color:#fecc00;
}
.sverige_line_vertical{
    width:50px;
    height: 300px;
    left:150px;
}
.sverige_line_horizontal{
    height:50px;
    width:600px;
    top:125px;
}
.guinee{
    display: none;
    height: 300px;
    width: 500px;
    margin: auto;
    position:relative;
}
.guinee{
    height: 300px;
    width: 600px;
    border: 2px solid #000000;
    margin: auto;
}
.guinee_line_item {
    width: 33.3338%;
    height: 100%;

}
.bblock_1 {
    float: left;
    background: #ce1126;
}
.bblock_2 {
    float: left;
    background: #fcd116;
}
.bblock_3 {
    float: right;
    background: #009460;
}

.sverige:hover .guinee{
    display:block;
}
.coment_sverige{
    text-align: center;
    font-size: 24px;
}
.sverige:hover ~ .coment_sverige{
    display: none;
}
.coment_guinee{
    text-align: center;
    font-size: 24px;
    display: none;
}
.sverige:hover ~ .coment_guinee{
    display: block;
}