.maldives {
    position: relative;
    width:600px;
    height: 300px;
    background: #D30731;
    border: 2px solid #000000;
    margin: auto;
}
.maldives-rectangle {
    background: #007E3A;
    position: absolute;
    width: 450px;
    height: 150px;
    left: 75px;
    top: 75px;
}
.maldives-moon {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: -12px 0 0 0 #fff;
    left: 200px;
    top: 40px;
}
.coment_maldives{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.maldives:hover + .coment_maldives{
    visibility: visible;
}